$p-color: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);

* {
  user-select: none;
}

@mixin bggradient() {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  @include bggradient();
}

.top-title {
  color: rgb(243, 243, 243);
  text-shadow: $p-color 3px 4px;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  padding: 1rem;
}

.numbers {
  color: #000;
  font-size: 1.5em;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  grid-gap: 20px;
  //@include bggradient();
}

.nb {
  padding: 1rem;

  &:hover {
    cursor: pointer;
    background: -webkit-linear-gradient(rgb(184, 77, 77), #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.btn {
  margin: 1.5rem 0rem;
  cursor: pointer;
  width: 4.5rem;
  height: 2.5rem;

  &:hover {
    transition: 0.5s;
    background-color: #ff867a;
    color: rgb(126, 126, 126);

  }
}

.input-style {
  text-align: center;
  padding: 0.6rem 0.2rem;
  border-radius: 10px;
  background-color: #fff;
  border: solid;
  border-width: 1px;
}

.input-container {
  text-align: center;
}

h3 {
  text-align: center;
  color: rgb(243, 243, 243);
  text-shadow: $p-color 3px 4px;
}

.submit-btn {
  text-align: center;
  margin-top: 0.65rem;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  &:hover {
    transition: 0.5s;
    background-color: #ff867a;
    color: rgb(126, 126, 126);

  }
}
